.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10rem;
    padding-right: 10rem;
    @media only screen and (min-width: 576px) {
        max-width: 540px;
    }

    @media only screen and (min-width: 768px) {
            max-width: 720px;
    }
    
    @media only screen and (min-width: 992px) {
            max-width: 960px;
    }
    
    @media only screen and (min-width: 1200px) {
            max-width: 1280px;
    }
    
    @media only screen and (min-width: 1400px) {
            max-width: 1320px;
    }   
}




