.homepage {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    &__title {
        text-align: center;
        color: $white-color;
        font-size: 6rem;
    }

    &__line {
        width: 100%;
        height: 0rem;
        color: $white-color;
        margin: 1rem 0;
    }

    &__subject {
        padding: 1rem 0;
        color: $primary-color;
        font-size: 1.6rem;
    }
    
    &__description {
        color: $white-color;
    }
}