.social {
    width: 100%;
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    background: rgba($color: #000000, $alpha: 0.5);
    &__copyright {
        color: $white-color;
        margin-left: 2rem;
        &-created {
            color: $primary-color;
        }
    }
    &__icons {
        margin-right: 2rem;
        color: $white-color;
    }
    &__icon {
        width: 3rem;
        height: 3rem;
        padding: 0 0.5rem;
        
    }
}