*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: Signika-Reqular;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/back.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
