*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: Signika-Light;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/back.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    // position: fixed; 
    // overflow-y: none;
    // overscroll-behavior: contain;
    // top: 0; right: 0; bottom: 0; left: 0; 
 }
