@font-face {
    font-family: Signika-Reqular;
    src: url('../public/fonts/Signika-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: Signika-Bold;
    src: url('../public/fonts/Signika-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: Signika-Light;
    src: url('../public/fonts/Signika-Light.ttf');
    font-weight: normal;
}